<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VitalNest Login</title>
</head>
<body class = "login-background">
    <div>
        <h2 class = "VitalNest_heading">Welcome to VitalNest</h2>
        <form action="/login" method="post" class="box">
            <div class = "login_heading">
                <h3>
                    <b>Login</b>
                </h3>
            </div>
            <div class = "login_label">
                <label for="aadhar">Aadhar ID </label>
                <input type="text" id="aadhar" name="aadhar" pattern="\d{12}" maxlength="12" minlength="12" required>
            </div>
            <div class = "login_label">
                <label for="passwd">Password </label>
                <input type="password" id="passwd" name="passwd" maxlength="15" minlength="8" required>
            </div>
            <div class = "login_btn"><button type ="submit" >Login</button></div>
        </form>
        <p>
            <a href="/register" id = "register_btn">Not yet registered? Click here</a>
        </p>
    </div>
</body>
</html>