<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body style="background-color:#ebf9fa;">
    <h1 class="admin_user_approval_card_heading">Patient Health Records was accessed by the following</h1>
    <div>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; background-color: rgb(250, 240, 255);">
            <thead>
                <tr>
                    <th>Hospital ID</th>
                    <th>Patient Aadhar ID</th>
                    <th>Log TimeStamp</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                <% records.forEach(record => { %>
                <tr>
                    <td><%= record.hsp_id %></td>
                    <td><%= record.p_id %></td>
                    <td><%= record.log_timestamp %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
