<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <h1>Patient Health Records was accessed by the following</h1>
    <div>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Hospital ID</th>
                    <th>Patient Aadhar ID</th>
                    <th>Log TimeStamp</th>
                </tr>
            </thead>
            <tbody>
                <% records.forEach(record => { %>
                <tr>
                    <td><%= record.hsp_id %></td>
                    <td><%= record.p_id %></td>
                    <td><%= record.log_timestamp %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>