<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalNest</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Supplier dashBoard - {{manager_id}}</h1>
    <div>
        <h2 class="industry_dashboard_sub_heading" >Request Data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: 25px;">
            <thead>
                <tr class="industry_dashboard_add_medicine_table">
                    <th>Supplier ID</th>
                    <th>Quantity</th>
                    <th>Hospital ID</th>
                    <th>Medicine Name</th>
                    <th>Request Timestamp</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                {% for record in request_data %}
                <tr style="padding: 10px; text-align: center; font-size: 22px; font-weight: 400;">    
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>
                        <form action="/sendInventoryToHospital" method="post">
                            <input type="hidden" name="supplier_id" value="{{record[0]}}">
                            <input type="hidden" name="quantity" value="{{record[1]}}">
                            <input type="hidden" name="hsp_id" value="{{record[5]}}">
                            <input type="hidden" name="med_name" value="{{record[3]}}">
                            <button type="submit" name="action" value="approve" class="supplier_dashboard_approve_button" >Approve</button>
                            <button type="submit" name="action" value="reject" class="supplier_dashboard_reject_button">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2 class="industry_dashboard_sub_heading">Medicinal Data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin:25px;">
            <thead>
                <tr class="industry_dashboard_add_medicine_table">
                    <th>Industry ID</th>
                    <th>Medicine Name</th>
                    <th>Uses</th>
                    <th>Side Effects</th>
                    <th>Quantity</th>
                    <th>Request Inventory</th>
                </tr>
            </thead>
            <tbody>
                {% for record in data %}
                <tr style="padding: 10px; text-align: center; font-size: 22px; font-weight: 400;">    
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>
                        <form action="/requestInventory" method="post">
                            <input  style="border-radius: 8px; width: 10vw; height: 32px;" type="hidden" name="supplier_id" value="{{manager_id}}">
                            <input  style="border-radius: 8px; width: 10vw; height: 32px;" type="hidden" name="ind_id" value="{{record[0]}}">
                            <input  style="border-radius: 8px; width: 10vw; height: 32px;"  type="hidden" name="med_name" value="{{record[1]}}">
                            <input  style="border-radius: 8px; width: 10vw; height: 32px;"  type="number" min="100" max="5000" name="quantity">
                            <button  class="supplier_dashboard_request_button"  type="submit">Request</button>
                        </form>
                    </td>>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2 class="industry_dashboard_sub_heading">Inventory Data</h2>
        <table border="1.5" cellpadding="15" cellspacing="0" style="margin: 25px;">
            <thead>
                <tr class="industry_dashboard_add_medicine_table">
                    <th>Industry ID</th>
                    <th>Quantity</th>
                    <th>Medicine Name</th>
                    <th>Supplied Time-Stamp</th>
                </tr>
            </thead>
            <tbody>
                {% for record in inventory_data %}
                <tr style="padding: 10px; text-align: center; font-size: 22px; font-weight: 400;">    
                    <td>{{ record[2] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
