.VitalNest_heading{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 40px;
}

.login-background {
    background-image: url(https://media.istockphoto.com/id/2099357117/vector/heart-pulse-and-heartbeat-heartbeat-lone-cardiogram-beautiful-healthcare-medical-background.jpg?s=612x612&w=0&k=20&c=5agokqkO2Ls-JGCXC5eYl8mH_EO1ZnihZc-pEYtVBOI=);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-items: center;
}

#register_btn{
    font-size: 4vmin;
    display: block;
    text-align: center;
    color:white;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 1rem;
    background-color: rgb(127 222 204);

    font-size:4vmin;
}

.login_heading{
    display: flex;
    justify-content: center;
    padding-bottom : 50px ;
}


.login_label{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom : 30px;
    padding-bottom: 30px; 
    gap: 1vmin;
    font-weight: 600;
} 

.login_label input {
    width : 300px;
    height : 30px;
    border-radius: 0.5rem;
}
 
.login_btn button{
    font-size : 20px;
    border-radius: 1rem;
    width : 100px;
}

.login_btn{
    position: relative;
    bottom: 15px;
    text-align: center;
}


.register_card_design{
    padding:10px;
    background-color: rgb(166, 235, 251);
    border-radius: 40px;
    text-align: center;
    width:auto;
    height: 450px;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.register_card_background{
    background-image: url("https://media.istockphoto.com/id/2099357117/vector/heart-pulse-and-heartbeat-heartbeat-lone-cardiogram-beautiful-healthcare-medical-background.jpg?s=612x612&w=0&k=20&c=5agokqkO2Ls-JGCXC5eYl8mH_EO1ZnihZc-pEYtVBOI=");
    background-size: cover;
}

.register_card_button{
    background-color: rgb(57, 55, 179);
    border-radius: 20px;
    text-align: center;
    color:white;
    border-width: 0px;
    width: 20vw;
    height: 36px;

}

.register_card_text_design{
    font-family: "Bree Serif";
    color: rgb(52, 47, 47);
    text-align: center;
}

.register_card_form_design{
    font-family: "Bree Serif";
    color: black;
    text-align: center;
    font-size: 24px;
}


.admin_user_approval_card_heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(4, 4, 4);
    text-align: center;
}

.admin_user_approval_card_background{
    background-color: rgb(213, 187, 213);
    border-radius: 20px;
}

.admin_user_approval_card_design{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.admin_user_approval_card_accept_button_design{
    background-color: rgb(123, 246, 107);
    border-radius: 20px;
    text-align: center;
    color:rgb(0, 0, 0);
    border-width: 0px;
    width: 10vw;
    height: 36px;
}

.admin_user_approval_card_reject_button_design{
    background-color: rgb(229, 95, 83);
    border-radius: 20px;
    text-align: center;
    color:rgb(0, 0, 0);
    border-width: 0px;
    width: 10vw;
    height: 36px;
}
.admin_patient_record_card_design{
    background-color: beige;
    border-radius: 20px;
    width: 500px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;

}

.admin_patient_record_button_design{
    background-color: rgb(65, 133, 182);
    border-radius: 20px;
    text-align: center;
    color:white;
    border-width: 0px;
    width: 10vw;
    height: 36px;

}