body{
    background-image: url(https://media.istockphoto.com/id/2099357117/vector/heart-pulse-and-heartbeat-heartbeat-lone-cardiogram-beautiful-healthcare-medical-background.jpg?s=612x612&w=0&k=20&c=5agokqkO2Ls-JGCXC5eYl8mH_EO1ZnihZc-pEYtVBOI=);
    background-size: cover;
}

.LoginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.LoginLabel{
    margin-top: 30px;
    display: block;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.LoginLabel input{
    padding: 15px;
    border-radius: 1rem;
    width : 200px;
}

#login_button{
    font-size:20px;
    padding: 10px;
    border-radius: 1rem;
    margin-top: 20px;
}

#loginRegisterLink{
    color: white;
    text-align: center;
    font-size: 20px;
}

